/* RESET */
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font */
html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* DEBUG */


/* Header */

header {
    position: relative;
}

.header-container-one {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
}

/* Remove li dots and underline */

.ul-header {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}
/*  */

.header-a {
    color: black;
}

.dropbox-logo {
    width: 140px;
}

.text-space {
    padding: 15px;
}

.text-space-start {
    padding: 15px;
}

.text-space:hover {
    background-color: rgba(230, 230, 230, 0.3);
    border-radius: 50px;
}

.start-button {
    background-color: #0061FF;
    color: white; 
    padding: 3px 10px;
    border: solid 1px white;
}

.start-button:hover {
    background-color: white;
    color: #0061FF;
    border: solid 1px #0061FF;
}

/* Header two */

.header-container-two {
    width: 100%;
    height: 670px;
    background-color: #B4D0E7;
    padding-top: 60px; 
}

.header-two {
    margin: 0 auto;
    width: 70%;
    height: 650px;
    padding-top: 100px;
    padding-left: 50px;
}

/* Header H1  */
.title-header-two-container {
    height: 500px;
    width: 80%;
}

.title-header-two {
    width: 100%;
    font-weight: 800;
    font-size: 60px;
    padding-bottom: 50px;
}

/* Header text button and img */

.header-two-flex {
    display: flex;
}

.header-two-text-button {
    width: 350px;
}

#header-two-button {
    background-color: #0061FF;
    color: white; 
    padding: 8px 10px;

}

#header-two-button:hover {
    background-color: white;
    color: #0061FF;
    border: 1px solid #0061FF;
}

#header-two-button-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#arrow {
    font-size: 40px;
    padding-top: 10px;
}

.header-two-img-container {
    width: 700px;
    height: 350px;
    padding-left: 30px;
    position: relative;
}

.header-two-img {
    position: absolute;
    bottom: 0;
}


/* Main general */

.title-main {
    font-size: 35px;
}

.box-size {
    margin: 0 auto;
    width: 50%;
}

img {
    max-width: 100%;
}

/* Business Plan */

.business-plan-big-container {
    padding-top: 150px;
}

.business-plan-small-container {
    margin: 0 auto;
    width: 50%;
}

.title-business-plan {
    padding-bottom: 40px;
}

.input-radio {
    padding-bottom: 40px;
}
/* Three Columns Section */

.plan-background {
    width: 100%;
    height: 800px;
}

.plan-column-flex {
    margin: 0 auto;
    width: 50%;
    height: 770px;
    display: flex;
}

.plan-column {
    width: calc(100% / 3);
    border: 2px solid rgb(233, 233, 233);
    margin-right: 20px;
    margin-bottom: 20px;
}

.column-padding {
    padding: 20px;
}

em {
    color: grey;
}

.plan-time {
    padding-top: 10px;
    padding-bottom: 30px;
}

.blue-button2 {
    width:200px;
    color: white;
    background-color: #0061FF;
    padding: 6px 12px;
}

.li-padding {
    padding-bottom: 15px;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-buy {
    padding-bottom: 40px;
}

.a-link {
    text-decoration: underline;
}

.hr-column-c {
    width: 50px;
    padding-bottom: 25px;
}

.hr-column {
    color: rgb(233, 233, 233);
}

.plan-points-c {
    padding-bottom: 20px;
}

.plan-points {
    padding-bottom: 10px;
}

.checkmark {
    color: #0041a9;
}

/* Team Container */

.team-background-container {
    width: 100%;
    height: 500px;

}

.team-container {
    margin: 0 auto;
    width: 50%;
    height:250px;
    border: 2px solid rgb(233, 233, 233);
}

.plan-for {
    text-align: center;
    border-bottom: 2px solid rgb(233, 233, 233);
    padding: 10px;
}
.enterprise-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.plan-type {
    padding-bottom: 20px;
}

.enterprise-p {
    padding: 20px;
}

.blue-button {
    width: 250px;
    color: white;
    background-color: #0061FF;
    padding: 10px 25px;
}


/* Dropbox Partner Section */

.partner-big-container {
    width: 100%;
    height: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partner-small-container {
    height: 400px;
    display: flex;
    justify-content: space-between;
}

#img-partner-container {
    width: 450px;
    padding-top: 10px;
    padding-left: 10px;
}

.text-nexttoimg {
    padding-top: 60px;
    width: 370px;
}

.text-title-p {
    width: 230px;
    padding-bottom: 25px;
}

.text-smaller {
    font-size: smaller;
}

#button-partner {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: solid 1px black;
}

#button-partner:hover {
    background-color: #0061FF;
    color: white;
    border: none;
}

/* Dropbox Business Info */

.dropbox-business-info-container {
    width: 100%;
    height: 1000px;
    padding-top: 50px;
}

.business-info-small-container {
    height: 900px;
}

.info-threecolumns-flex {
    display: flex;
    width: 100%;
}

.info-column {
    padding: 15px;
}

.h3-title-column {
    padding-bottom: 20px;
}

.title-businessinfo {
    padding: 15px;
}


/* Dropbox Business Clients Section */

.dropbox-clients-container {
    width: 100%;
    height: 300px;
}

.dropbox-clients {
    padding-top: 60px;
}

.title-businessclients {
    width: 600px;
    padding-bottom: 60px;
}
.a-clients {
    text-decoration: underline;
    font-size: smaller;
}
/* Free Trial Section */

.free-trial-container {
    width: 100%;
    height: 250px;
    background-color: #B4D0E7;
}

.free-trial {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.free-trial-text {
    width: 500px;
    color: #60072A;
}

.free-trial-button {
    width: 200px;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
}

.free-trial-button:hover {
    background-color: #0061FF;
    color: white;
    border: none;
}

/* FAQs Section */

.faqs-container {
    height: 600px;
    padding: 20px;
    align-content: center;
}

.question-entity {
    padding-top: 30px;
    padding-bottom: 30px;
}

.question {
    display: inline-block;
    padding-right: 120px;
}

.question-title {
    padding-bottom: 50px;
}


/* Footer */

footer {
    width: 100%;
    height: 500px;
    background-color: black;
}

/* Footer with links */

.columns-link {
    margin: 0 auto;
    width: 70%;
    padding: 50px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.title-category {
    font-size: x-large;
    padding-bottom: 10px;
}
.ul-footer {
    list-style: none;
}

.a-footer {
    color: white;  
}

.category-li-item {
    padding-bottom: 10px;
}

/* Footer with hr and language */

.footer-hr-language {
    margin: 0 auto;
    width: 70%;
    padding: 50px;
    height:200px;
    color: white;
}

#hr {
    text-align: start;
    width: 100px;
}

.footer-language {
    padding-top: 50px;
}